html {
    --grn:#04fc43;
    --ylw:#fee800;
    --red:#ff2972;
    --clr: var(--grn);

    --txt:#4caf50;
    --box:#2f363e;
    --bg:#d2d2d2;
}

html, body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: var(--box);
    background-color: var(--bg);
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: var(--bg);
    background-color: var(--box);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position:fixed;
    top:0;
    left:0;
    right:0;
    padding: 10px;
    max-height:40px;
}
.button {
    padding: 10px 20px;
    background-color: var(--txt);
    color: var(--box);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.3s;
}
.button:hover {
    background-color: var(--txt);
    transform: scale(1.02);
}
.button:active {
    background-color: var(--txt);
    transform: scale(0.95);
}

main {
    margin-top: 50px;
    background-color: var(--box);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    min-height: 400px;
    max-height: 800px;
    min-width: 50%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#timer {
    display: flex;
    gap: 30px;
}
#timer .circle {
    position: relative;
    width:150px;
    height:150px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-30px);
}
#timer .circle svg {
    position: relative;
    width:150px;
    height:150px;
    transform: rotate(270deg);
}

#timer .circle svg circle{
    width:100%;
    height:100%;
    fill:transparent;
    stroke-width: 6;
    stroke:var(--clr);
    stroke-linecap: round;
    transform:translate(5px,5px);
}
#timer .circle svg circle:nth-child(2){
    stroke: var(--clr);
    /* 314 = 2 * 50px * pi avec 50px le rayon des cercles*/
    stroke-dasharray: 314;
    stroke-dashoffset: 314;
    transition: none;
}
#timer div {
    position: absolute;
    text-align: center;
    font-weight:600;
    color:var(--clr);
    font-size:1.5em;
}
#timer .dot {
    position:absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: 1000;
}
#timer .dot:before{
    content:'';
    position: absolute;
    top:18px;
    width: 15px;
    height: 15px;
    background: var(--clr);
    border-radius: 50%;
    box-shadow: 0 0 20px var(--clr), 0 0 60px var(--clr)
}

div#question {
    height: 80%;
    width: 80%;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    color: var(--txt);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    transform: translateY(-30px);
}