<main>
    <div id="timer">
        <div class="circle">
            <div class="dot"></div>
            <svg>
                <circle cx="70" cy="70" r="50" id="bc"></circle>
                <circle cx="70" cy="70" r="50" id="sc"></circle>
            </svg>
            <div id="time">00</div>
        </div>
    </div>
    <div id="question">
        <span id="question-nb">Question 1/10</span>
        <span id="question-theme">Géographie</span>
        <span id="question-text">TextTextText TextTextText TextText Text TextTextText Text TextTextText</span>
        <input type="text" id="answer" placeholder="Answer">
        <button id="timer-start" class="button">Timer</button>
    </div>
</main>