<div *ngIf="gameDetails">
    <h2>Game - Code: {{ gameDetails.code }}</h2>
    
    <div *ngIf="gameDetails.currentQuestionIndex === -1">
      <p>La partie commence...</p>
    </div>
    
    <div *ngIf="gameDetails.currentQuestionIndex !== -1">
      <h3>Thème: {{ gameDetails.currentQuestion.themeText }}</h3>
      <p>Temps restant: {{ gameDetails.countdown }}</p>
      <p>Question {{ gameDetails.currentQuestionIndex + 1 }}: {{ gameDetails.currentQuestion.questionText }}</p>
      
      <div *ngIf="gameDetails.showAnswer">
        <p><strong>Réponse :</strong> {{ gameDetails.currentQuestion.answerText }}</p>
      </div>
      
      <div *ngIf="!gameDetails.showAnswer">
        <input type="text" [(ngModel)]="answer" placeholder="Votre réponse">
        <button (click)="checkAnswer()">Soumettre</button>
      </div>
    </div>
  
    <ul>
      <li *ngFor="let player of gameDetails.players">{{ player.username }} - Score: {{ player.score }}</li>
    </ul>
  </div>
  