.game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 90%;
    padding-left: 10%;
    padding-right: 5%;
    align-content: center;
    flex-direction: row;
    margin-top: var(--header-height);
}


@keyframes typing {
    from { width: 0; }
    to { width: var(--stepsch); }
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: white; }
}

p.motd {
    color: white;
    font-style: italic;
    white-space: nowrap;
    overflow: hidden;
    border-right: 0.15em solid white;
    animation: typing 3s steps(var(--steps), end), blink-caret 0.75s step-end infinite;
    width: fit-content;
    display: inline-block;
}

main {
    background-color: var(--box);
    max-width: 60%;
    width: fit-content;
    min-width: 40%;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex: 1;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

hr {
    width: 20%;
    color: var(--txt);
    height: 1px;
    background-color:var(--txt);
    border: none;
}

#scoreboard {
    background-color: var(--box);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    list-style-type: none;
    height: fit-content;
    max-height: 600px;
    overflow-y: auto;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
}

#scoreboard::-webkit-scrollbar {
    display: none; /* Safari, Chrome et Opera */
}

#scoreboard li {
    display: flex;
    justify-content:space-between;
    align-items:start;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--clr);
    color: var(--box);
    font-weight: bold;
    text-align: left;
    width: 250px;
}

#scoreboard li .username {
    font-weight: bold;
}

#scoreboard li.answered {
    background-color: var(--bg);
    color: var(--txt);
    font-weight: bold;
}

#scoreboard h3 {
    color: var(--txt);
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

#time {
    text-align: center;
    font-weight: 600;
    color: var(--clr);
    font-size: 1.5em;
}

p {
    font-size: 20px;
    font-weight: bold;
    color: var(--txt);
    text-align: center;
    margin-bottom: 20px;
}

div#question {
    height: 80%;
    width: 80%;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    color: var(--txt);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

input#answer-input {
    user-select: none;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #fff;
    color: var(--txt);
    font-size: 20px;
    text-align: center;
    width: 80%;
    margin-bottom: 20px;
    padding: 10px;
    font-weight: bold;
    transition: border-color 0.3s, width 0.3s;
}

input#answer-input:focus {
    outline: none;
    border-bottom: 2px solid green;
    width: 85%;
}
