<div class="page_container">
    <p>Le code du jeu généré est : <strong>{{ gameCode }}</strong></p>
    <button (click)="generateCode()">Régénérer le code</button>
    <form (ngSubmit)="onSubmit()">        
        <div>
          <label for="nbQuestions">Nombre de questions :</label>
          <input type="number" id="nbQuestions" [(ngModel)]="gameData.nbQuestions" name="nbQuestions" required />
        </div>
    
        <div>
          <label for="filters">Filtres :</label>
          <input type="text" id="filters" [(ngModel)]="gameData.filters" name="filters" />
        </div>
    
        <div>
          <label for="questionTime">Temps par question (en secondes) :</label>
          <input type="number" id="questionTime" [(ngModel)]="gameData.questionTime" name="questionTime" required />
        </div>
    
        <button type="submit">Créer la partie</button>
      </form>
  </div>
