.page_container {
  padding: 8vh; 
}

/* Boutons en haut */
.tab {
  margin-top: 1vh;
}

.tab-buttons {
  margin-bottom: 1vh;
  transition: background-color 0.3s, transform 0.3s;
}

.tab-buttons button {
  margin-right: 0.8vw;
  padding: 10px 15px;
  cursor: pointer;
  border: none;
  border-radius: 20px;
  background-color: var(--bg-button);
}

.tab-buttons button:hover {
  transform: scale(1.02);
}

.tab-buttons button.active {
  background-color: var(--txt);
  color: white;
}

/* Styles des boutons de super utilisateur */
ul.user-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  list-style-type: none;
  padding: 0;
  max-width: fit-content;
}

ul.user-grid li {
  display: contents;
}

ul.user-grid li label {
  grid-column: 1;
  align-self: center;
}

ul.user-grid li button {
  margin-left: 10px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

ul.user-grid li button:hover {
  transform: scale(1.02);
}

ul.user-grid li button.renameButton {
  background-color: red;
  color: white;
}

ul.user-grid li button.deleteButton {
  background-color: red;
  color: white;
}

ul.user-grid li button.superUserButton:not(.superuser) {
  background-color: green;
  color: white;
}

ul.user-grid li button.superUserButton.superuser {
  background-color: red;
  color: white;
}