.page_container {
    padding: 8vh; 
  }

/* bouton  haut */ 
.tab {
    margin-top: 1vh;
  }
  
.tab-buttons {
  margin-bottom: 1vh;
  transition: background-color 0.3s, transform 0.3s;
}

.tab-buttons button {
  margin-right: 0.8vw;
  padding: 10px 15px;
  cursor: pointer;
  border: none;
  border-radius: 20px;
  background-color: var(--bg-button);
}

.tab-buttons button:hover{
  transform: scale(1.02)
}
.tab-buttons button.active {
  background-color: var(--txt);
  color: white;
}

/* bouton valider */ 
.form-footer {
  margin-top: 3vh;
}

.form-footer button{
  padding: 2vh 4vw;
  background-color: var(--txt);
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1.2vw;
  transition: background-color 0.3s, transform 0.3s;
  margin-bottom: 1vh;
}
.form-footer button:hover{
  transform: scale(1.02);
}
.form-footer button:active {
  background-color: var(--txt);
  transform: scale(0.95);
}