.page_container {
  padding: 8vh; 
}

h3{
  margin:0;
}

/*form text */ 
input[type=text]{
  border: none;
  border-bottom: 2px solid #000000b6;
  padding: 15px 10px;
  margin-right: 3vw;
  height:3vh;
  width:21vw;
  transition: 0.5s;
  font-size: 1.2vw;
  border-radius: 20px;
  background-color: var(--bg-button);
}

input:hover {
  transform: scale(1.02);
}

input[type=submit]:active {
  background-color: var(--txt);
  transform: scale(0.95);
}

input:focus{
  font-size: 1.5vw;
  outline:none;
  border-radius: 20px;
  background-color:var(--bg-button);
}

/* bouton  haut */ 
.tab {
    margin-top: 1vh;
  }
  
.tab-buttons {
  margin-bottom: 1vh;
  transition: background-color 0.3s, transform 0.3s;
}

.tab-buttons button {
  margin-right: 0.8vw;
  padding: 10px 15px;
  cursor: pointer;
  border: none;
  border-radius: 20px;
  background-color: var(--bg-button);
}

.tab-buttons button:hover{
  transform: scale(1.02)
}
.tab-buttons button.active {
  background-color: var(--txt);
  color: white;
}

/* bouton ajouter */ 
.form-footer {
  margin-top: 3vh;
}

.form-footer button{
  padding: 2vh 4vw;
  background-color: var(--txt);
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1.2vw;
  transition: background-color 0.3s, transform 0.3s;
  margin-bottom: 1vh;
}
.form-footer button:hover{
  transform: scale(1.02);
}
.form-footer button:active {
  background-color: var(--txt);
  transform: scale(0.95);
}

/* Checkbox */ 
.radio-button{
  margin:0;
}
input[type=radio] {
  --s: 2vh;     /* control the size */

  height: var(--s);
  aspect-ratio: 1;
  border: calc(var(--s)/8) solid #939393;
  padding: calc(var(--s)/8);
  background: 
     radial-gradient(farthest-side,var(--txt) 94%,#0000) 
     50%/0 0 no-repeat content-box;
  border-radius: 50%;
  outline-offset: calc(var(--s)/10);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  font-size: inherit;
  transition: .3s;
}
input[type=radio]:checked {
  border-color: var(--txt);
  background-size: 100% 100%;
}


@media print {
  input[type=radio] {
    -webkit-appearance: auto;
    -moz-appearance: auto;
    appearance: auto;
    background: none;
  }
}

label {
  display:inline-flex;
  align-items:center;
  cursor: pointer;
}

/* Select */
* {
  box-sizing: border-box;
}

select {
  /* Reset */
  appearance: none;
  border: 0;
  outline: 0;
  /* Personalize */
  width: 21vw;
  background: var(--bg) ;
  color: rgb(94, 94, 94);
  border-radius: 0.25em;
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  overflow:auto;
  max-height: 3vh;

  &::-ms-expand {
    display: none;
  }

  &:focus {
    outline: none;
  }

  option {
    color: inherit;
    background-color: var(--bg);
  }
}
 